/*Styles for Project 6*/
@-ms-viewport {
  width: device-width;
}

body {
    background-color: #466365;
    font-family: "futura";
    font-weight: 600;
    font-style: normal;
    padding: 1rem;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.button {
    color: white;
    font-size: 25px;
    font-family: "futura";
    padding: 1rem;
    margin-left: 1px;
}

.nav {
    @-ms-viewport {
  width: device-width;
}
    border: none;
    padding: 1rem;
    position:fixed;
    top: 0;
    left: 0;
    text-align: center;
    text-decoration:none;
    width: 100%;
    z-index: 100;
}

h1 { 
    color:#F2ED6F;
    font-size: 75px;
    position: relative;
    text-align: center;
    }

h2 {
    color:#C67F89;
}

h3 {
    color:#C67F89;
}

h4 {
    color:#F2ED6F;
}

p {
    color:white; 
}