/*Styles for Project 6*/
body {
    background-color: #466365;
    letter-spacing: .5px;
    line-height: 1.5;
    padding: 10%;
    font-family: "futura";
    font-weight: 600;
    font-style: normal;
}

h1 { 
    color:#F2ED6F;
    }

h2 {
    color:#C67F89;
}

h3 {
    color:#C67F89;
}

h4 {
    color:#F2ED6F;
}

p {
    color:white; 
}